<launch>
  <arg name="startMean" default="0"/>
  <arg name="use_rosbag" default="true"/>

  <group ns="talker">
    <node pkg="beginner_tutorials" name="talker" type="talker"/>
  </group>

  <group ns="listener">
    <node pkg="beginner_tutorials" name="listener" type="listener"/>
  </group>

  <node pkg="rosbag" type="record" name="rosbag" args="record -a myBag" if="$(arg use_rosbag)"/>

</launch>
